@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
  width: 100%;
  heigth: 100%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
